For set train, 100 centoids with threshold 0.0, correctness = 0.8276
                                 threshold 0.5, correctness = 0.8413
                                 threshold 0.9, correctness = 0.6981

For set val, 100 centroids with threshold 0.0, correctness = 0.8220
                                threshold 0.5, correctness = 0.8385
                                threshold 0.9, correctness = 0.6855
